$themePicker = {
  colorName1: red,
  colorName2: yellow,
  colorName3: blue
}
// colors
$accentColor = #212121
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
